:root {
  --gold: #c09b19;
  --brown: #251b0c;
  --marigold: #fbeb8e;
}
html {
  height: 100%;
}
body {
  font-family: "Eurostile", sans-serif;
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  margin: 0;
}
.content-body {
  width: 100%;
  display: flex;
  flex: 1;
  align-items: center;
  overflow: hidden;
  text-align: center;
  background: linear-gradient(
    180deg,
    var(--gold) 35%,
    var(--marigold),
    var(--gold) 95%
  );
  background-size: auto;
  background-attachment: fixed;
}
.content-body h1 {
  flex: 2;
  box-sizing: border-box;
  font-size: 80pt;
  margin: auto;
}
.inner-outline {
  outline: 10px solid var(--marigold);
  outline-offset: -20px;
}
#main-header {
  margin: 0;
  padding: 0;
  width: 100vw;
  justify-content: center;
  position: sticky;
  display: flex;
  background: black;
  background-size: cover;
  flex-flow: column nowrap;
  color: var(--marigold);
  font-weight: bold;
  font-size: 20pt;
}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.ticker-wrap {
  width: 100vw;
  overflow: hidden;
  height: 4rem;
  padding-left: 100%;
  box-sizing: content-box;
}
.ticker {
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
}
.ticker div {
  margin-left: 2rem;
  margin-right: 2rem;
  display: inline-block;
}
